
@{
    ViewBag.Title = "ABOUT";
    Layout = "~/Views/_Layout1.cshtml";
}



<h1>S A C H I N    T E N D U L K A R</h1><br />
<p>In 2019, Tendulkar was inducted into the ICC Cricket Hall of Fame.</p><br /><br />
<p><a href="https://www.cricbuzz.com/profiles/25/sachin-tendulkar">CLICK</a></p>
