
@{
    ViewBag.Title = "ACHIVE";
    Layout = "~/Views/_Layout1.cshtml";
}

<h1>S A C H I N    T E N D U L K A R</h1><br />
<p> He is the highest run scorer of all time in International cricket.</p><br />
<p><a href="https://en.wikipedia.org/wiki/Sachin_Tendulkar#Achievements_and_awards">CLICK</a></p>

