
@{
    ViewBag.Title = "HOME";
    Layout = "~/Views/_Layout1.cshtml";
}
<div class="ah1">
    
<h1>S A C H I N    T E N D U L K A R</h1>
<p class="p1">Sachin Ramesh Tendulkar is an Indian former international cricketer and a former captain of the Indian national team. He is widely regarded as one of the greatest batsmen in the history of cricket. He is the highest run scorer of all time in International cricket.</p>
    <p><a href="https://g.co/kgs/yKGux7" class="a1">Learn More &raquo;</a></p>
</div>
<div class="row">
    <div class="column">
        <h2>Anjali Tendulkar</h2>
        <p> Anjali, daughter of the well-known industrialist, Ashok Mehta, got married to Sachin Tendulkar on May 24, 1995, after a five-year-long period of dating each other. They have been happily married to each other for the last 22 years</p>
        <p> <a href="https://www.bollywoodshaadis.com/articles/the-love-story-of-anjali-and-sachin-tendulkar-2290" class="a12"> Learn More &raquo;</a></p>
    </div>


    <div class="column">
        <h2>Arjun Tendulkar</h2>
        <p>Arjun Tendulkar, is touted born with a silver spoon, is the daughter of a cricketer father Sachin Tendulkar and doctor mother, Anjali Tendulkar. This father-mother legendary combination has raised their child with sophistication. </p>
        <p><a href="https://starsunfolded.com/arjun-tendulkar/" class="a12">Learn More &raquo;</a></p>
    </div>

    <div class="column">
        
            <h2>Sara Tendulkar</h2>
            <p>She was born on 12th of October 1997 in Mumbai, Maharashtra, India. Therefore, the age of Sachin Tendulkar's Daughter is around twenty, (20) years old as of 2018. The name of her father is Sachin Tendulkar who is the god of Indian Cricket.</p>
            <p><a href="https://starsunfolded.com/sara-tendulkar/" class="a12">Learn More &raquo;</a></p>
        
    </div>

</div>



